---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../icons/SocialPill.astro";
import Linkedin from "../icons/Linkedin.astro";
import GitHub from "../icons/GitHub.astro";
import Mail from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Proyectos from "../components/Proyectos.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";

const TITLE =
	"Porfolio de Matias - Desarrollador y Programador web con 2 años de experiencia";
const DESCRIPTION =
	"Contrata a Matias Ponce para crear tu aplicacion web o móvil. desarrollador Web y Mobile";
---

<Layout title={TITLE} description={DESCRIPTION}>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				<slot />
			</Hero>
		</SectionContainer>

		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<TitleSection>
					<Briefcase class="size-7" />
					Experiencia Laboral
				</TitleSection>
				<Experience />
			</SectionContainer>

			<SectionContainer id="proyecto">
				<TitleSection>
					<CodeIcon class="size-7" />
					Proyectos
				</TitleSection>
				<Proyectos />
			</SectionContainer>

			<SectionContainer id="sobre-mí">
				<TitleSection>
					<ProfileCheck class="size-8" />
					Sobre Mí
				</TitleSection>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>

