---
 const personalImageAlt = "Matias Ponce"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

  
  <p>
    Me llamo {personalImageAlt}. <strong>Ingeniero en Informática</strong> titulado con <strong>distinción máxima</strong>. Me especializo en <strong>desarrollo de software</strong>, <strong>ciberseguridad industrial</strong> y <strong>visualización de datos</strong>.
  </p>
  
  <p>
    Desde muy joven me apasiona la <strong>tecnología</strong> y la <strong>programación</strong>, lo que me llevó a profundizar mis 
    conocimientos tanto en el ámbito académico como por cuenta propia. Hoy sigo ese camino con el
    objetivo de <em class="italic">aportar soluciones que optimicen procesos</em> y <em class="italic">mejoren la experiencia de los usuarios</em>.
  </p>
  
  <p>
    Actualmente me encuentro enfocado en seguir <strong>creciendo como profesional</strong>, fortaleciendo mis habilidades técnicas y colaborando en proyectos que generen impacto. Creo firmemente en el <em class="italic">aprendizaje constante</em> y en la <strong>tecnología como motor de cambio positivo</strong>.
  </p>
  
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

