---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "ago. 2024 - dic. 2024",
    title: "Desarrollador frontend",
    company: "CMC - 360",
    description:"Contribuí al desarrollo de la landing page oficial de la empresa y creé mapas de calor para EdenRed, visualizando locales fiscalizados en las 12 regiones de Chile con Power BI. Además, diseñé diagramas UML para OTRISMAP, un sistema de detección de vulnerabilidades basado en el modelo Purdue, y automatizó procesos ETL en Python para la normalización de datos provenientes de dos bases de datos.",
    link: "https://cmc360.cl",

  },
  {
    date: "mar. 2024 - jun. 2024",
    title: "Desarrollador Full-Stack",
    company: "Carrete Cervecero",
    description:"Creación de una aplicación móvil para la gestión de reservas de máquinas de cerveza. Implementación de funciones como: autenticación, notificaciones, reservas en tiempo real y diseño UI con Figma. Desarrollado con tecnología React Native (JavaScript) e integración con Firebase.",
    link: "https://github.com/Juan-Matias/App-carrete-cervecero-RN",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
