<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">


    <nav class="flex flex-row gap-x-10  opacity-80">
        <a href="#top" class=" hover:text-gray-600">Inicio</a>
        <a href="#experiencia" class=" hover:text-gray-600">Sobre mí</a>
        <a href="#sobre-mi" class=" hover:text-gray-600">Proyectos</a>
        <a href="#contacto" class=" hover:text-gray-600">Contacto</a>
    </nav>
</header>
